@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,800;1,200;1,300;1,400;1,500;1,600&display=swap');
html,body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.login-signup{
  display: flex;
  background-color: aquamarine;
  width: 100vw;
  height: 100vh;
}

.login-signup-left-section{
  background-color: white;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  width: 50%;
  flex-direction: column;
  padding-left: 50px;
  background-image: url('assets/img/left-section-bg.png');
  background-position: 0;
  background-repeat: no-repeat;
  background-size: cover;
  box-sizing: border-box;

}

.login-signup-logo{
  width: 242px; 
  /* background-color: aquamarine; */
}

.login-signup-logo img{
  width: 100%; 
}

.login-signup-left-section-title{
  font-style: normal;
  font-weight: normal;
  font-size: 72px;
  line-height: 108px;
}

.login-signup-right-section{
  background-color: white;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  align-items: center;
}

.login-signup-right-section-title{
  font-style: normal;
  font-weight: 600;
  font-size: 72px;
  line-height: 108px;
  margin: 0;
  padding: 0;
}
.input-row{
  display: flex;
  flex-direction: column;
}

.login-signup-form{
  width: 80%;
}

.login-signup-form input{
  display: flex;
  flex-direction: column;
  background: #FFFFFF;
  border: 3px solid #C0BEBE;
  box-sizing: border-box;
  border-radius: 10px;
  height: 50px;
  width: 100%;
  font-size: 25px;
  padding-left: 10px;
  font-family: 'Poppins', sans-serif;
  outline: none;
}

.login-signup-form label{
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 37px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.login-signup-form button{
  width: 100%;
  background: #0092FF;
  border-radius: 10px;
  height: 50px;
  border: none;
  outline: none;
  margin-top: 20px;
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 52px;
  color: #FFFFFF;
  cursor: pointer;
}

.login-signup-prompt{
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 37px;
  text-align: right;
  color: rgba(0, 0, 0, 0.42);
  display: flex;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
}
.login-signup-prompt a{
  text-decoration: none;
  margin-left: 5px;
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 37px;
  color: #0092FF;
}

/* 
  DASHBOARD STYLES

*/

.dash-sidebar{
  position: relative;
  background: rgba(75, 159, 255, 0.62);
  max-width: 431px;
  min-width: 300px;
  width: 20vw;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  height: 100vh;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 0;
  box-sizing: border-box;
}

.dash-logo{
  width: 60%;
}
.dash-nav-list{
  width: 100%;
}

.nav-list-item{
  display: flex;
  width: 100%;
  align-items: center;
}
.nav-list-item-active{
  background-color: rgba(255, 255, 255, 0.78);

}
.nav-list-item p{
  text-decoration: none;
  color: black;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  padding: 0;
  margin: 0;
}

.nav-list-item img{
  height: 40px;
  margin: 10px 10px 10px 30px;
}

.nav-logout{
  display: flex;
  width: 100%;
  align-items: center;
}
.nav-logout p{
  text-decoration: none;
  color: black;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  padding: 0;
  margin: 0;
}

.nav-logout img{
  height: 40px;
  margin: 10px 10px 10px 30px;
}

.react-router-link-reset{
  text-decoration: none;
}

.dash-container{
  display: flex;
  /* background-color: #3FF3F3; */
  width: 100%;
  height: 100%;
}

.dash-content{
  width: 100%;
  height: 100vh;
  overflow-y: auto;

}
.dash-title-container{
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  /* background-color: #C0BEBE; */
  padding: 10px 40px 0 40px;;
  align-items: center;
}

.dash-title-container h1{
  margin: 0;
  padding: 0;
}

.dash-toggle-container{
  display: flex;
}
.dash-toggle-item{
  margin: 20px;
  display: flex;
}
.dash-toggle-item p{
  margin-right: 5px;
  display: flex;
}

.dash-info{
  /* background-color: orange; */
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(315px, 1fr));
  grid-gap: 20px;
  padding: 20px;
  justify-content: center;
  align-items: center;
  width: 100%;
  box-sizing: border-box;

}

.dash-info-item{
  width: 315px;
  height: 169px;
  background: #E4F1FF;
  box-shadow: 0px 18px 20px -12px rgba(0, 0, 0, 0.19);
  border-radius: 6px;
  /* padding: 23px 17px 23px 17px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 20px;
  
}

.dash-info-item-title{
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  color: #000000;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.dash-info-item-value{
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 64px;
  margin: 0;
  padding: 0;
  color: #000000;
}

.dash-info-item-value-address{
  font-size: 50px;
  margin: 0;
  padding: 0;
}

.dash-info-item-value-eth{
  font-size: 55px;
  margin: 0;
  padding: 0;
}
.dash-info-item-value-eth span{
  font-size: 20px;
}
@media screen and (max-width: 1125px){

  .login-signup-left-section-title{
    font-size: 45px;
    line-height: 50px;
  }

  .login-signup-right-section-title{
    font-size: 40px;
    line-height: 60px;
    margin-bottom: 20px;
  }

  .login-signup-form label{
    font-size: 20px;
    line-height: 25px;
    margin-top: 20px;
  }

  .login-signup-prompt,.login-signup-prompt a{
    font-size: 18px;
    line-height: 22px;
  }
  .login-signup-form button{
    font-size: 20px;
  }
}

@media screen and (max-width: 850px){
  .login-signup{
    flex-direction: column;
    width: 100%;
    height: 100%;
  }
  .login-signup-logo{width: 150px;}
  .login-signup-left-section{
    width: 100%;
    padding-left: unset;
    justify-content: center;
    align-items: center;
  }
  .login-signup-left-section-title{
    text-align: center;
    font-size: 30px;
    line-height: 35px;
  }
  /* .login-signup-left-section-title br{
    display: none;
    word-break: unset;
    margin-left: 5px;
  } */
  .login-signup-right-section{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .login-signup-right-section-title{
    margin-top: 30px;
    line-height: 35px;
    font-size: 35px;
    margin-bottom: 0px;
  }
  .login-signup-logo{
    margin-top: 20px;
  }
  .login-signup-form{
    /* background-color: #47a4eb; */
    margin-top: 10%;
  }
}

@media screen and (max-width: 640px){
  .login-signup-left-section{
    background: #47a4eb;

  }
}

@media screen and (max-width: 460px){
  .login-signup-right-section{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .login-signup-right-section-title{
    margin-top: 20px;
    font-size: 30px;
    line-height: 30px;
    margin-bottom: 0;
  }
  .login-signup-left-section-title{
    margin-top: 20px;
    font-size: 30px;
    line-height: 35px;
    margin-bottom: 20px;
  }
}

